/*
Theme Name: I Am Zee (Storefront Child)
Version: 1.0
Description: Custom Child theme for Storefront.
Author: Raunak Singh
Author URI: https://alfanitoz.com
Template: storefront
*/

/* --------------- Theme customization starts here ----------------- */

